.back-home {
    z-index: 2;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 210px;
    height: 55px;
}

@media only screen and (max-height: 768px) {
    .back-home {
        position: absolute;
        bottom: 3.5vw;
        right: 2vw;
        width: 16vw;
        height: auto;
    }
}


@media only screen and (max-width: 1024px) {
    .back-home {
        z-index: 2;

    }
}