* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

@font-face {
  font-family: 'Futura Font';
  src: url('../font/VNFFutura\ BB\ Regular.ttf') format('truetype');
}

body {
  font-family: 'Futura Font', sans-serif;
}

html {
  font-size: 62.5%;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.iframe-game {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.iframe-game.join-game {
  visibility: visible;
  opacity: 1;
  pointer-events: unset;
}

:root {
  --main-color: #9e0966;
  --secondary-color: #f5e9a8;
}
