* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

@font-face {
  font-family: 'Futura Font';
  src: url('../font/VNFFutura\ BB\ Regular.ttf') format('truetype');
}

body {
  font-family: 'Futura Font', sans-serif;
}

html {
  font-size: 62.5%;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.close-popup {
  position: absolute;
  top: 32.5px;
  right: 30px;
  width: 16px;
  height: auto;
  cursor: pointer;
  z-index: 9;
}

.close-popup.game-time {
  width: 25px;
}

/* --- Section iframe game --- */
.sec-iframe {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  z-index: 20;
}

.sec-iframe.open-iframe {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.sec-iframe.open-iframe .iframe-game {
  width: 100%;
  height: 100%;
}

.sec-iframe .iframe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.iframe-game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
}
/* --- Section iframe game - END --- */

/* --- Animation slide to unlock shine --- */
.slide-shine {
  position: relative;
  overflow: hidden;
}

.slide-shine::before {
  content: '';
  position: absolute;
  top: -10%;
  bottom: 0;
  left: -10%;
  width: 10%;
  height: 128%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)),color-stop(50%, rgba(255,255,255,0.8)),color-stop(99%, rgba(128,186,232,0)),to(rgba(125,185,232,0)));
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
  -webkit-filter: blur(15px);
  filter: blur(15px);
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-animation: shine 2.7s infinite linear;
  animation: shine 2.7s infinite linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 1;
}

@-webkit-keyframes shine {
  0% { left: -20% }
  100% { left: 120% }
}
@keyframes shine {
  0% { left: -20% }
  100% { left: 120% }
}
/* --- Animation slide to unlock shine - END --- */

:root {
  --main-color: #9e0966;
  --secondary-color: #f5e9a8;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-height: 500px) {
  .close-popup {
    top: 2.5vw;
    right: 2vw;
    width: 1.3vw;
  }

  .sec-iframe.open-iframe .close-popup {
    right: 5vw;
  }
}
