body {
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100% !important;
  height: auto;
}

.container {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.back-home {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 210px;
  height: 55px;
}

.shield {
  display: block;
  cursor: pointer;
  position: absolute;
  left: 47.5%;
  top: 44%;
  width: 35vh;
  height: 44vh;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

/* --- Paint curtain block action without shield element --- */
.shield .curtain {
  position: absolute;
  width: 55%;
  height: 40px;
  cursor: default;
}

.shield .curtain-1 {
  top: 0;
  left: -12px;
  transform: rotateZ(-20deg);
}

.shield .curtain-2 {
  top: 2px;
  right: -12px;
  transform: rotateZ(20deg);
}

.shield .curtain-3 {
  width: 64%;
  height: 60px;
  bottom: 0;
  left: 0;
  transform: rotateZ(54deg) translate(-63px, 29px);
}

.shield .curtain-4 {
  width: 64%;
  height: 60px;
  bottom: 0;
  right: 0;
  transform: rotateZ(-54deg) translate(63px, 27px);
}
/* --- Paint curtain block action without shield element - ENd --- */
