body {
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#video.active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.touch {
  position: absolute;
}

.touch-1 {
  height: 200px;
  width: 27%;
  background-color: red;
  top: 34%;
  left: 2%;
}

.touch-2{
  height: 200px;
  width: 27%;
  background-color: red;
  top: 34%;
  right: 2%;
}
