@keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-120%);
  }
}

body {
  overflow-y: hidden;
  position: relative;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  max-height: 100vh;
}

.container .invite-choice {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.container .invite-choice img {
  width: 25vw;
}

.container .text {
  width: 100vw;
  position: absolute;
  top: 13vh;
  left: 0;
  right: 0;
  font-size: 25px;
  overflow: hidden;
}

.container .text span {
  display: block;
  white-space: nowrap;
  color: #fff;
  transform: translateX(100%);
  animation: move linear 10s infinite;
  text-shadow: 2px 2px #5e5e5e;
}

.room {
  width: 15vw;
  position: absolute;
  cursor: pointer;
}

.room.room-1 {
  top: 24vh;
  left: 6vw;
}

.room.room-2 {
  top: 24vh;
  left: 29vw;
}

.room.room-3 {
  top: 24vh;
  left: 52vw;
}

.room.room-4 {
  top: 24vh;
  left: 76vw;
}

@media only screen and (max-width: 1390px) and (min-width: 1200px) {
  .container .text {
    top: 17vh;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .container {
    width: 1200px;
  }

  .container .text {
    top: 18vh;
  }

  .room.room-1 {
    left: 40px;
    top: 28vh;
  }

  .room.room-2 {
    left: 335px;
    top: 28vh;
  }

  .room.room-3 {
    left: 650px;
    top: 28vh;
  }

  .room.room-4 {
    left: 945px;
    top: 28vh;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 450px) {
  .container .text {
    font-size: 16px;
    top: 12vh;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 420px) {
  .container .text {
    top: 16vh;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 415px) {
  .container .text {
    top: 16vh;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 400px) {
  .container .text {
    top: 12vh;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 376px) {
  .container .text {
    top: 14vh;
  }
}
