@keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-120%);
  }
}

body {
  overflow-y: hidden;
  position: relative;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  max-height: 100vh;
}

.container .invite-choice {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.container .invite-choice img {
  width: 25vw;
}

.container .text {
  width: 100vw;
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
  font-size: 25px;
  overflow: hidden;
}

.container .text span {
  display: block;
  white-space: nowrap;
  color: #fff;
  transform: translateX(100%);
  animation: move linear 10s infinite;
  text-shadow: 2px 2px #5e5e5e;
}

.room {
  width: 15vw;
  position: absolute;
  cursor: pointer;
}

.room.room-1 {
  top: 24vh;
  left: 6vw;
}

.room.room-2 {
  top: 24vh;
  left: 29vw;
}

.room.room-3 {
  top: 24vh;
  left: 52vw;
}

.room.room-4 {
  top: 24vh;
  left: 76vw;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 1200px;
  }
}
