body {
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

#root.none {
  height: 0;
}

.container {
  height: 100%;
  background-size: cover;
  background-position: center 30%;
  position: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../images/content-login.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 46%;
  width: 800px;
  padding: 25px 60px 0;
}

.content .title {
  color: var(--main-color);
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 6px;
}

.group {
  display: flex;
  align-items: center;
}

.group + .group {
  margin-top: 10px;
}

.group span {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
  min-width: 160px;
  display: block;
}

.group .in {
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #ece7c9;
  color: var(--main-color);
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 15px;
}

.group .in::placeholder {
  font-size: 18px;
}

.btn {
  outline: none;
  border: none;
  width: 170px;
  height: 45px;
  background-color: #f2e397;
  border: 2px solid #fff;
  border-radius: 56px;
  color: #701540;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.btn + .btn {
  margin-left: 50px;
}

.btn::before {
  position: absolute;
  content: '';
  width: 85%;
  height: 26%;
  left: 50%;
  top: 2px;
  background-color: #ffffff5e;
  transform: translateX(-50%);
  border-radius: 20px;
  z-index: 1;
}

.action {
  text-align: center;
}

.err-login {
  width: 100%;
}

.err-login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all linear 0.2s;
  width: 600px;
}

.err-login-container.active {
  transform: translate(-50%, -50%) scale(1);
}

.time {
  position: absolute;
  top: 5px;
  right: 27px;
  font-size: 3rem;
  padding: 10px 20px;
  cursor: pointer;
}

.show-password {
  margin: 4px 0 12px 170px;
  display: flex;
  align-items: center;
}

.show-password .checkbox {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.show-password .checkbox::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #ece7c977;
}

.show-password span {
  font-size: 20px;
  display: block;
  color: #7c8b8f;
}

.avt {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avt img,
.avt .default {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
}

.avt button {
  text-align: center;
  height: 50px;
  margin: 0;
  margin-bottom: 10px;
}

label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}

.avt .action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sign Up */

.form-sign-up {
  background-color: #fff;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  border-right: 0.5px #caaaaa solid;
  border-left: 0.5px #caaaaa solid;
  padding: 30px 60px;
  max-height: 630px;
}

.form-sign-up h3 {
  color: #58163d;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.form-sign-up .sign-up-group {
  /* margin-top: ; */
}

.form-sign-up .sign-up-group + .sign-up-group {
  margin-top: 10px;
}

.form-sign-up .sign-up-group label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 2px;
}

.form-sign-up .sign-up-group label span {
  color: #8d246f;
  font-size: 16px;
}

.form-sign-up .sign-up-group input {
  width: 100%;
  margin-top: 5px;
  height: 40px;
  font-size: 18px;
  border: 2px solid #e6e6e6;
  padding: 0px 15px;
  border-radius: 14px;
  outline: none;
  cursor: text;
}

.form-sign-up .sign-up-group input:focus {
  outline: 2px solid #81d7ff;
}

.form-sign-up .checked-rule {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form-sign-up input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.form-sign-up input:not(:last-child) {
  margin-right: 10px;
}

.form-sign-up p {
  color: #808080;
  font-size: 15px;
}

.form-sign-up p span {
  color: #58163d;
  margin-left: 4px;
  cursor: pointer;
}

.form-sign-up .action {
  text-align: center;
  margin-top: 10px;
}

.form-sign-up .action button {
  color: #ffffff;
  background: rgb(219, 164, 203);
  background: linear-gradient(
    90deg,
    rgba(219, 164, 203, 1) 0%,
    rgba(205, 147, 187, 1) 10%,
    rgba(181, 119, 160, 1) 30%,
    rgba(163, 99, 140, 1) 65%,
    rgba(153, 87, 128, 1) 85%,
    rgba(150, 83, 125, 1) 100%
  );
  outline: none;
  border: none;
  padding: 10px 15px;
  cursor: default;
  font-weight: 600;
  border-radius: 5px;
  font-size: 17px;
  white-space: nowrap;
  min-width: 162px;
}

.form-sign-up .action button.active {
  background: linear-gradient(
    90deg,
    rgb(234 56 182) 0%,
    rgb(221 68 173) 10%,
    rgb(218 122 185) 30%,
    rgb(210 88 166) 65%,
    rgb(164 35 115) 85%,
    rgba(150, 83, 125, 1) 100%
  );
  cursor: pointer;
}

.policy .detail-title {
  margin-bottom: 30px;
}

.policy .detail-title p {
  color: #333333;
  text-align: center;
  color: #333333;
  font-size: 22px;
  font-weight: 600;
}

.policy .detail-title h3,
.otp h3 {
  font-weight: 600;
  color: #8d246f;
  font-size: 22px;
}

.policy .detail-block h4 {
  font-size: 16px;
  font-weight: 600;
  color: #8d246f;
  margin-bottom: 0;
}

.policy .detail-block p {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 10px;
}

.policy .text-mb a {
  color: #0056b3;
  text-decoration: none;
}

.otp .input-gr {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.otp .input-gr input {
  width: 40px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

.otp .input-gr input:focus {
  outline: 2px solid #8d246f;
}

.otp > p {
  text-align: center;
  white-space: nowrap;
  color: #000000;
}

.otp .phone {
  color: #d8b600;
}

.otp .noti {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.otp .noti span {
  font-size: 14px;
  color: #701540;
}

/* .no-wrap {
  white-space: nowrap;
} */

.swal2-validation-message::before {
  content: '!';
  display: inline-block;
  width: 1.5em;
  min-width: 1.5em;
  height: 1.5em;
  margin: 0 0.625em;
  border-radius: 50%;
  background-color: #f27474;
  color: #fff;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
}

.swal2-validation-message {
  align-items: center;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0.625em;
  overflow: hidden;
  background: #f0f0f0;
  color: #666;
  font-size: 14px;
  font-weight: 300;
  display: flex;
}

/* ===== Responsive ===== */
@media screen and (max-width: 1025px) {
  .form-sign-up {
    width: 90%;
  }

  .content {
    width: 820px
  }

  .group span {
    min-width: 140px;
  }

  .show-password {
    margin: 4px 0 12px 150px;
  }

  .btn {
    width: 183px;
    height: 50px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .otp > p {
    white-space: normal;
  }

  .toast-err {
    padding: 15px 65px !important;
  }

  .policy-container {
    padding: 20px 25px !important;
  }

  .form-sign-up {
    max-height: unset;
    padding: 15px 25px;
    border-radius: 10px;
  }

  .form-sign-up h3 {
    font-size: 18px;
  }

  .form-sign-up .sign-up-group label {
    font-size: 17px;
  }

  .form-sign-up .sign-up-group input {
    height: 38px;
    font-size: 15px;
  }

  .form-sign-up .sign-up-group label span {
    display: none;
  }

  .form-sign-up .checked-rule {
    margin-top: 8px;
  }

  .content {
    width: 95%;
    padding: 40px;
  }

  .group span {
    font-size: 20px;
    min-width: 110px;
  }

  .group .in {
    height: 35px;
  }

  .show-password {
    margin-left: 120px;
  }

  .action {
    display: flex;
    justify-content: center;
  }

  button {
    width: 130px;
    height: 35px;
    font-size: 15px;
  }

  .time {
    top: 0px;
    right: 0px;
  }
}

@media screen and (max-width: 520px) {
  .avt img,
  .avt .default {
    width: 100px;
    height: 100px;
  }
  .avt .btn {
    height: 40px;
  }

  .content {
    width: 95%;
    padding: 15px 10px;
  }

  .group span {
    font-size: 18px;
  }

  .action {
    display: flex;
    justify-content: center;
    margin: 2px 0 0;
  }

  .group .in {
    border-radius: 3px;
    height: 35px;
    padding: 4px;
    font-size: 15px;
  }

  .show-password {
    display: none;
  }

  .btn {
    width: 144px;
    height: 29px;
    margin-top: 6px;
    font-size: 15px;
  }
}

@media only screen and (max-height: 610px) {
  .content {
    height: 56%;
    width: 80vw;
    padding: 2.5vw 8vw 0;
  }

  .content .title {
    font-size: 2.2vw;
    margin-bottom: 1.2vw;
  }

  .group span {
    font-size: 2vw;
    min-width: 11vw;
  }

  .group .in {
    height: 4.2vw;
    padding: 0.9vw 1.2vw;
    font-size: 1.9vw;
    border-radius: 1.6vw;
  }

  .group .in::placeholder {
    font-size: 1.9vw;
  }

  .group + .group {
    margin-top: 1.2vw;
  }

  .show-password .checkbox {
    height: 1.9vw;
    width: 1.9vw;
    margin-right: 1.2vw;
  }

  .show-password {
    margin: 1vw 0 1.7vw 11.2vw;
  }

  .show-password span {
    font-size: 1.8vw;
    line-height: 1;
  }

  .btn {
    width: 17.2vw;
    height: 4.7vw;
    border-width: 0.4vw;
    border-radius: 5vw;
    font-size: 1.8vw;
  }

  .btn + .btn {
    margin-left: 3.2vw;
  }

  /* ===== Form sign up ===== */
  .form-sign-up {
    border-radius: 3vw;
    border-right: 0.2vw #caaaaa solid;
    border-left: 0.2vw #caaaaa solid;
    padding: 2vw 5vw;
    max-height: 90%;
    overflow-y: auto;
  }

  .form-sign-up .time {
    top: 0.8vw;
    right: 3.5vw;
    font-size: 2.8vw;
    padding: 0;
  }

  .form-sign-up h3 {
    font-size: 2vw;
    margin-bottom: 1.2vw;
  }

  .form-sign-up p {
    font-size: 1.5vw;
  }

  .form-sign-up .action button {
    padding: 1vw 1.2vw;
    border-radius: 0.7vw;
    font-size: 1.7vw;
    min-width: 18vw;
    height: 4vw;
  }

  .form-sign-up .sign-up-group label {
    font-size: 1.8vw;
    margin-bottom: 0.1vw;
  }

  .form-sign-up .sign-up-group label span {
    font-size: 1.6vw;
  }

  .form-sign-up .sign-up-group input {
    margin-top: 0.6vw;
    height: 4vw;
    font-size: 1.8vw;
    border: 0.2vw solid #e6e6e6;
    padding: 0px 1.5vw;
    border-radius: 1.4vw;
  }

  .form-sign-up .sign-up-group + .sign-up-group {
    margin-top: 0.6vw;
  }
  /* ===== Form sign up - END ===== */

  /* ===== Toast err message ===== */
  .toast-err {
    border-width: 0.3vw !important;
    border-radius: 1.5vw !important;
    padding: 2.5vw 8vw !important;
  }

  .toast-err img {
    width: 14vw !important;
  }

  .toast-err p {
    margin-top: 2vw !important;
    font-size: 2.3vw !important;
  }

  .toast-err .close-toast {
    font-size: 4vw !important;
    height: 6vw !important;
    width: 6vw !important;
    line-height: 4.5vw !important;
  }
  /* ===== Toast err message - END ===== */

  /* ===== Modal OTP ===== */
  .otp {
    padding: 3.5vw 5vw !important;
    border-width: 0.3vw !important;
    border-radius: 1.5vw !important;
  }

  .otp .noti span {
    font-size: 1.4vw;
  }
  /* ===== Modal OTP - END ===== */
}

@media only screen and (max-height: 550px) {
  .content {
    height: 43%;
  }

  .err-login-container {
    width: 55vw;
  }

  .err-login-container .time {
    top: 0.5vw;
    right: 3.5vw;
    font-size: 3vw;
    padding: 1vw 1vw;
  }
}

@media only screen and (max-height: 420px) {
  .content {
    height: 66%;
    width: 73vw;
    padding: 2vw 8vw 0;
  }

  .content .title {
    font-size: 2vw;
    margin-bottom: 1vw;
  }

  .group span {
    font-size: 1.8vw;
    min-width: 10vw;
  }

  .group .in {
    height: 4vw;
    padding: 0.7vw 1vw;
    font-size: 1.7vw;
    border-radius: 1.4vw;
  }

  .group .in::placeholder {
    font-size: 1.7vw;
  }

  .group + .group {
    margin-top: 1vw;
  }

  .show-password .checkbox {
    height: 1.7vw;
    width: 1.7vw;
    margin-right: 1vw;
  }

  .show-password {
    margin: 0.8vw 0 1.5vw 11vw;
  }

  .show-password span {
    font-size: 1.6vw;
  }

  .btn {
    width: 17vw;
    height: 4.5vw;
    border-width: 0.25vw;
    border-radius: 5vw;
    font-size: 1.6vw;
  }

  .btn + .btn {
    margin-left: 3vw;
  }

  .err-login-container {
    width: 49vw;
  }

  .err-login-container .time {
    right: 3vw;
    font-size: 2vw;
  }
}

@media only screen and (max-height: 300px) {
  .content {
    width: 70vw;
  }
}
/* ===== Responsive - END ===== */
