.modal-qr {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/background-modal-qr.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  z-index: 10;
}

.modal-qr.modal-qr-visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-qr .qr-container {
  padding-top: 5vw;
  text-align: center;
}

.modal-qr .qr-title {
  font-size: 3vw;
  font-weight: bold;
  text-transform: uppercase;
  color: #740e45;
  margin-bottom: 0;
}

.modal-qr .qr-desc {
  font-size: 2.5vw;
  color: #740e45;
  margin-bottom: 3.2vw;
}

.modal-qr .direct-google {
  display: inline-block;
  width: 51vw;
  height: 13vw;
  background-image: url('../images/button-invite-fill-form.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-qr .qr-code {
  width: 14vw;
  height: auto;
  margin: 0 auto 2vw;
  background-color: #ffffff;
}

/* ===== Responsive ===== */
@media only screen and (max-width: 1550px) {
  .modal-qr .qr-title {
    font-size: 3vw;
  }

  .modal-qr .qr-container {
    padding-top: 3vw;
  }

  .modal-qr .qr-desc {
    font-size: 2.5vw;
    margin-bottom: 3.2vw;
  }

  .modal-qr .direct-google {
    width: 51vw;
    height: 13vw;
  }

  .modal-qr .qr-code {
    width: 14vw;
    margin: 0 auto 2vw;
  }
}

@media only screen and (max-width: 1025px) {
  .modal-qr .qr-title {
    font-size: 4vw;
  }

  .modal-qr .qr-container {
    padding-top: 7vw;
  }

  .modal-qr .qr-desc {
    font-size: 3.5vw;
    margin-bottom: 2.5vw;
  }

  .modal-qr .direct-google {
    width: 67vw;
    height: 18vw;
  }

  .modal-qr .qr-code {
    width: 18vw;
    margin: 0 auto 3vw;
  }
}

@media only screen and (max-height: 600px) {
  .modal-qr .qr-title {
    font-size: 4vw;
  }

  .modal-qr .qr-desc {
    font-size: 3.5vw;
    margin-bottom: 3vw;
  }

  .modal-qr .direct-google {
    width: 64vw;
    height: 17vw;
  }

  .modal-qr .qr-code {
    width: 20vw;
    margin: 0 auto 4vw;
  }
}

@media only screen and (max-height: 500px) {
  .modal-qr .qr-title {
    font-size: 2.7vw;
  }

  .modal-qr .qr-container {
    padding-top: 4vw;
  }

  .modal-qr .qr-desc {
    font-size: 2.2vw;
    margin-bottom: 2vw;
  }

  .modal-qr .direct-google {
    width: 43vw;
    height: 12vw;
  }

  .modal-qr .qr-code {
    width: 13vw;
    margin: 0 auto 2vw;
  }
}

@media only screen and (max-height: 395px) {
  .modal-qr .qr-title {
    font-size: 3vw;
  }

  .modal-qr .qr-desc {
    font-size: 2.4vw;
  }

  .modal-qr .direct-google {
    width: 46vw;
    height: 12vw;
  }

  .modal-qr .qr-code {
    width: 14vw;
  }
}
/* ===== Responsive - END ===== */
