.container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-width: 1350px;
}

@media screen and (max-width: 1350px) {
    .container {
        min-width: 1350px;
        overflow-y: hidden;
    }
    dd{
        top: 38%;
        width: 32%;
        height: 38%;
    }
}

.room-2 {}

.room-2__wrap {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.room-2__btn-left {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 0;
    top: 40%;
    width: 29%;
    height: 20%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    animation: btn-slide-left 3s forwards;
    animation-delay: 3s;
}
@media screen and (max-width:992px) {
    .room-2__btn-left{
        background-size: 70%;
        top: 30%;
        width: 32%;
        height: 38%;
    }
}

.room-2__btn-right {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: 0;
    top: 40%;
    width: 28%;
    height: 20%;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
    animation: btn-slide-right 3s forwards;
    animation-delay: 3s;
}

@media screen and (max-width:992px) {
    .room-2__btn-right{
        background-size: 70%;
        top: 30%;
        width: 32%;
        height: 38%;
    }
}

/* Popup event css*/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: opacity 200ms;
    z-index: 6;
}

.popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup-info {
    display: flex;
}


.popup-wrap {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.popup-info {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    width: 624px;
    height: 365px;
    overflow: hidden;
    display: none;
    align-items: flex-end;
    justify-content: space-between;
}

.btn-download {
    width: 210px;
    height: 70px;
    margin: 0 10px 20px;
    background: transparent;
    display: inline-block;
}

.room2__popup-left {
    /*position: relative;*/
}

@keyframes btn-slide-left {
    0% {
        left:-100% ;
        opacity: 0;
    }
    100% {
        left:0;
        opacity: 1;
        visibility: visible;

    }
}

@keyframes btn-slide-right{
    0% {
        right:-100% ;
        opacity: 0;
    }
    100% {
        right:0;
        opacity: 1;
        visibility: visible;
    }
}
